html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
	outline-color: var(--primary);
}

/* создаем переменный с цветами и шрифтами */
:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-light-bg: #F5F6F8;
	--gray: #A4A4A4;
	--gray-dark: #6C7077;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #522cec;
	--red: #FC836D;
	--red-light: #ffb0a2;
	--green: #007B48;
	--green-light: #C8F8E4;

	/* --font-family: "Noto Sans", sans-serif; */
}